#!/bin/bash
# -*- sh -*-
# vim:ft=sh:et:ts=4

# {{ ansible_managed }}
# Managed by ansible_role_lmod

{% if lmod_extra_env_vars | length > 0 %}
{% for key, value in lmod_extra_env_vars.items() %}
export {{ key }}="{{ value }}"
{%- endfor %}
{%- endif %}

{% if lmod_sitepackage_dir | default('') | length > 0 %}
export LMOD_PACKAGE_PATH={{ lmod_sitepackage_dir | dirname }}
{%- endif %}

{% if lmod_admin_file_path | default('') | length > 0 %}
export LMOD_ADMIN_FILE={{ lmod_admin_file_path }}
{%- endif %}

{% if lmod_modulerc_path | default('') | length > 0 %}
export LMOD_MODULERCFILE={{ lmod_modulerc_path }}
{%- endif %}
